<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="submit" value="删除">
  </body>
  <script>
      // $('input').click(()=>{
      //   $.post("/users/delete",{id:2},(data) =>{
      //     console.log(data.result)
      //   })
      // })
  </script>
</html>
