<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <style>
        .form {
            margin-top: 200px;
            width: 30%;
        }
    </style>
</head>

<body>
    <div class='container'>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">您还没有登录!</h4>
            </div>
            <div class="panel-body">
                <div class="row Login-box">
                    <div class="col-lg-4 col-lg-offset-4">
                        <form action="/users/login" method="POST" class="form-signin" role="form">
                            <input type="text" class="form-control" name="username" placeholder="用户名" required="" autofocus="true">
                            <input style="margin-top:10px;" type="password" class="form-control" name="password" placeholder="密码" required="">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember">记住密码
                                </label>
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">登录</button>
                            <a href="/users/register" class="btn btn-block">注册</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
</body>

</html>